.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    margin-top: 5%;
}

.input {
    display: flex;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

button {
    margin-top: 5%;
}

input:last-of-type {
    margin-top: 10%;
}